= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f|
  %h3 Edit Account
  = devise_error_messages!
  = f.input :name, placeholder: 'Your Name', required: false
  = f.input :email, placeholder: 'user@email.com'
  = f.input :password, input_html: { autocomplete: "off" }, hint: "(leave blank if you don't want to change it.)"
  = f.input :password_confirmation, input_html: { autocomplete: "off" }
  = f.input :authentication_token, label: 'Auth Token', placeholder: 'Auth Token', disabled: true
  = f.input :current_password, hint: '(we need your current password to confirm your changes)', input_html: { autocomplete: "off" }
  .form-actions.span4= f.submit "Update", class: 'btn btn-info'
